# Features Engineering

Dans cette section, nous allons effectuer l'ingénierie des caractéristiques sur notre dataset. Cette étape est cruciale pour transformer et créer de nouvelles variables qui pourront améliorer les performances de nos modèles. Nous allons créer des features pertinentes, normaliser les données si nécessaire, et préparer notre dataset pour la phase de modélisation.

In [27]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('..\RAW_data\clean_data\produits_merged.csv', sep=",")
data.head()

,id_produit,catégorie,marque,prix,stock_minimum,date,entrepot,niveau_stock
0,P00001,Soins capillaires,Luxe eclat,467.42,52,01/06/2024,Lyon,88
1,P00001,Soins capillaires,Luxe eclat,467.42,52,22/04/2024,Paris,141
2,P00002,Accessoires,Maison Pure,291.26,10,25/09/2024,Lyon,286
3,P00003,Maquillage,Essentielle Paris,354.39,60,18/02/2024,Paris,177
4,P00003,Maquillage,Essentielle Paris,354.39,60,13/07/2024,Lyon,95

In [28]:
data['date'] = pd.to_datetime(data['date'], format='%d/%m/%Y')

In [29]:
data['stock_gap'] = data['niveau_stock'] - data['stock_minimum']
# → Positif si surplus, négatif si risque de rupture
data.head()

,id_produit,catégorie,marque,prix,stock_minimum,date,entrepot,niveau_stock,stock_gap
0,P00001,Soins capillaires,Luxe eclat,467.42,52,2024-06-01,Lyon,88,36
1,P00001,Soins capillaires,Luxe eclat,467.42,52,2024-04-22,Paris,141,89
2,P00002,Accessoires,Maison Pure,291.26,10,2024-09-25,Lyon,286,276
3,P00003,Maquillage,Essentielle Paris,354.39,60,2024-02-18,Paris,177,117
4,P00003,Maquillage,Essentielle Paris,354.39,60,2024-07-13,Lyon,95,35

In [30]:
data['month']     = data['date'].dt.month        # mois 1–12
data.head()

,id_produit,catégorie,marque,prix,stock_minimum,date,entrepot,niveau_stock,stock_gap,month
0,P00001,Soins capillaires,Luxe eclat,467.42,52,2024-06-01,Lyon,88,36,6
1,P00001,Soins capillaires,Luxe eclat,467.42,52,2024-04-22,Paris,141,89,4
2,P00002,Accessoires,Maison Pure,291.26,10,2024-09-25,Lyon,286,276,9
3,P00003,Maquillage,Essentielle Paris,354.39,60,2024-02-18,Paris,177,117,2
4,P00003,Maquillage,Essentielle Paris,354.39,60,2024-07-13,Lyon,95,35,7

In [ ]:
data.to_csv('Export_fe_data/produits_merged_features.csv', index=False, sep=',')