In [63]:
import pandas as pd

achat = pd.read_csv('../RAW_data/achatsV2.csv', sep=";")
print(achat.head())
print("////////////////////////////////////////////////")


fournisseurs = pd.read_csv('../RAW_data/fournisseursV2.csv', sep=";") 
print(fournisseurs.head())

   id_achat  date_achat id_produit  quantité id_fournisseur  prix_unitaire  \
0  PO000001  22/03/2024     P00627       150           S029         129.62
1  PO000002  12/06/2024     P00469        50           S028         110.81
2  PO000003  19/01/2024     P00849        75           S001         140.58
3  PO000004  20/11/2024     P00484       500           S028         120.77
4  PO000005  07/06/2024     P00196        50           S025         256.05

   délai_livraison_jours
0                     14
1                      8
2                      8
3                      9
4                     13
////////////////////////////////////////////////
  id_fournisseur  nom_fournisseur      ville      pays  fiabilité  \
0           S001  Lecomte et Fils     Zurich    Suisse       0.84
1           S002           Morvan      Paris    France       0.86
2           S003  Germain et Fils  Amsterdam  Pays-Bas       0.85
3           S004         Philippe       Rome    Italie       0.57
4           S005            Blanc     Dublin   Irlande       0.65

   délai_moyen_jours
0                 10
1                  9
2                 10
3                  9
4                 13

In [64]:
df_merged = pd.merge(achat, fournisseurs, on="id_fournisseur", how="left")
df_merged.head()

,id_achat,date_achat,id_produit,quantité,id_fournisseur,prix_unitaire,délai_livraison_jours,nom_fournisseur,ville,pays,fiabilité,délai_moyen_jours
0,PO000001,22/03/2024,P00627,150,S029,129.62,14,Fontaine Lopes S.A.,Helsinki,Finlande,0.54,6
1,PO000002,12/06/2024,P00469,50,S028,110.81,8,Delattre Blot S.A.,Berlin,Allemagne,0.74,8
2,PO000003,19/01/2024,P00849,75,S001,140.58,8,Lecomte et Fils,Zurich,Suisse,0.84,10
3,PO000004,20/11/2024,P00484,500,S028,120.77,9,Delattre Blot S.A.,Berlin,Allemagne,0.74,8
4,PO000005,07/06/2024,P00196,50,S025,256.05,13,Techer SA,Varsovie,Pologne,0.92,12

In [65]:
df_merged.to_csv('achats_merged.csv', index=False, sep=',')

In [66]:
produits = pd.read_csv('../RAW_data/produitsV2.csv', sep=";")
stocks = pd.read_csv('../RAW_data/stocksV2.csv', sep=";")

print(produits.head())

  id_produit          catégorie               marque    prix  stock_minimum
0     P00001  Soins capillaires           Luxe eclat  467.42             52
1     P00002        Accessoires          Maison Pure  291.26             10
2     P00003         Maquillage    Essentielle Paris  354.39             60
3     P00004        Accessoires          Reflet d'or  462.80             33
4     P00005        Accessoires  Elixir Haute Beauté  359.47             33

In [67]:
df_produits_merge = pd.merge(produits, stocks, on="id_produit", how="left")

print(df_produits_merge.head())


df_produits_merge.to_csv('produits_merged.csv', index=False, sep=',')

  id_produit          catégorie             marque    prix  stock_minimum  \
0     P00001  Soins capillaires         Luxe eclat  467.42             52
1     P00001  Soins capillaires         Luxe eclat  467.42             52
2     P00002        Accessoires        Maison Pure  291.26             10
3     P00003         Maquillage  Essentielle Paris  354.39             60
4     P00003         Maquillage  Essentielle Paris  354.39             60

         date entrepot  niveau_stock
0  01/06/2024     Lyon            88
1  22/04/2024    Paris           141
2  25/09/2024     Lyon           286
3  18/02/2024    Paris           177
4  13/07/2024     Lyon            95

In [68]:
retour = pd.read_csv('../RAW_data/retoursV2.csv', sep=";")
commandes = pd.read_csv('../RAW_data/commandesV2.csv', sep=";")

commandes['id_commande'] = commandes['id_commande'].astype(str).str.strip().str.upper()
retour['id_commande'] = retour['id_commande'].astype(str).str.strip().str.upper()



retour = retour.drop(['id_produit'], axis=1)
retour.head()

  id_commande date_retour                 motif
0     O026807  2024-09-12    Client insatisfait
1     O008302  2024-12-15  Livraison incomplète
2     O045235  2024-04-12  Livraison incomplète
3     O001001  2024-11-18  Livraison incomplète
4     O005871  2024-11-29    Mauvaise référence

In [69]:
commandes.head()

  id_commande date_commande id_produit  quantité   entrepôt   statut
0     O000001    2024-09-03     P00413         2  Marseille    Livré
1     O000002    2024-11-09     P00778        15       Lyon  Expédié
2     O000004    2024-11-03     P00535         8       Lyon    Livré
3     O000006    2024-01-24     P00898         3      Paris    Livré
4     O000007    2024-02-15     P00445         1       Lyon    Livré

In [76]:
df_commandes_merged = pd.merge(commandes, retour, on="id_commande", how='left')

#remplissage des valeurs manquantes par null
df_commandes_merged = df_commandes_merged.fillna('null')

df_commandes_merged.to_csv('commandes_merged.csv', index=False, sep=',')

object
object